[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3.0.3"
flask-migrate = "4.0.7"
flask-sqlalchemy = "3.1.1"
flask-restful = "0.3.10"
sqlalchemy-serializer = "1.4.22"
flask-login = "0.6.3"
flask-cors = "5.0.0"

[dev-packages]

[requires]
python_version = "3.10.12"
